---
import BtnLink from "./BtnLink.astro";

interface Props {
  title: string;
  subtitle: string;
  description: string;
  img: string;
  github?: string;
  slug: string;
}

const { title, subtitle, description, img, github, slug } = Astro.props;
---

<article class="card">
  <figure class="card__figure">
    <img
      transition:name={`img-${slug}`}
      src={img}
      alt={`proyecto de ${title}`}
      class="card__img"
      loading="lazy"
      decoding="async"
    />
  </figure>

  <div class="card__content">
    <div class="card__sub-content">
      <h3 class="card__subtitle">{subtitle}</h3>
      <h2 class="card__title">{title}</h2>
      <p class="card__description">
        {description}
      </p>
    </div>
    <div class="card__actions">
      
      <BtnLink slug={slug} name="Saber más" />
    </div>
  </div>
</article>

<style>
  .card {
    background-color: var(--bg-primary);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card__figure {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
  }
  .card__img {
    width: 100%;
    height: auto;
  }
  .card__content {
    padding: 1rem;
  }
  .card__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-primary);
    margin-bottom: 0.5rem;
  }
  .card__subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-secondary);
  }
  .card__description {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-secondary);
    margin-bottom: 0.5rem;
    text-wrap: wrap;
  }
  .card__actions {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
  }

  @media (min-width: 600px) {
    .card__title {
      font-size: 1.5rem;
    }
    .card__subtitle {
      font-size: 1rem;
    }
    .card__description {
      font-size: 1rem;
    }
    .card__link {
      padding: 0.4rem 1rem;
    }
    .card__icon {
      width: 1.2rem;
      height: 1.2rem;
      color: var(--text-primary);
    }
  }
</style>
