---
import CardProyect from "@components/cardProyect.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");


---
<!-- class="tab-content active" -->
<section id="portfolio-content">
  <div class="grid__porfolio container">
    {projects.map((project) => (
      <CardProyect 
      title={project.data.title}
      subtitle={project.data.subtitle}
      description={project.data.description}
      img={project.data.img}
      slug={project.slug}
       />
    ))} 
  </div>
</section>
<style>
  .grid__porfolio {
    display: grid;
    gap: 1rem;
  }
  @media (min-width: 600px) {
    .grid__porfolio {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
</style>
